extends ./layout/layout

block content
  +page-wrapper('status__page')
    .status__header
      .container
        a.back-link(href="/")
          +icon('back')
        .status__header-top
          .status__title История статусов
          .status__status В работе
    .status__content
      .container
        .status__story
          .status__story-item.is-finished Принят: #[span Вчера в 10:00]
          .status__story-item.is-finished В работе: #[span Вчера в 11:00]
          .status__story-item Готов к выдаче: #[span Завтра в 10:00]
          .status__story-item Автомобиль выдан: #[span —]

block footer
