extends ../layouts/layout

block content
  +page-wrapper('status__page')
    .status__header
      .container
        a.back-link(href=_yii.app.urlHelper.to({0: '@orderItem', 'customer': order.customer.uid, 'order': order.uid}))
          +icon('back')
        .status__header-top
          .status__title История статусов
          .status__status В работе
    .status__content
      .container
        unless status_history
          .status__status История статусов отсутствует
        else
          .status__story
            each statusItem in status_history
              .status__story-item.is-finished #{statusItem.status}: #[span #{_yii.app.formatter.asDateTime(statusItem.date)}]

block footer
