extends ../../layouts/layout

block content
  +page-wrapper('payments__page')
    .container
        p На сайте #[a(href="https://kuntsevo.com/" target="_blank") https://kuntsevo.com/] (далее – «Сайт») мы используем cookie-файлы. Настоящая Политика          
          предоставляет вам информацию о том, как мы используем cookie-файлы и как вы можете их
          контролировать.
        p
          Используя Сайт, вы принимаете правила использования cookie-файлов (и схожих технологий) в
          соответствии с настоящим документом. В частности, вы принимаете правила использования
          аналитических, рекламных и функциональных cookie-файлов для целей, указанных ниже.
        p 
          Что такое cookie-файлы?
        p 
          Файл cookie – это небольшой фрагмент текста, передаваемый в браузер с сайта, который вы посетили.
          Он помогает сайту запомнить информацию о вас, например, то, на каком языке вы предпочитаете его
          просматривать. Cookie-файлы широко применяются для поддержания работы веб-сайтов и сбора
          статистики. Персональные данные сохраняются в cookie-файлах, если вы согласились на их
          использование. Это обеспечивает защищенный вход в личный кабинет, что технически необходимо.
          Благодаря файлам cookie просмотр сайтов становится значительно более удобным.
        p 
          Как мы используем cookie-файлы?
        p 
          Информация, сбор которой осуществляется с помощью cookie-файлов, помогает анализировать
          процесс использование Сайта пользователями для обеспечения максимального удобства, а также сбора
          статистики. Мы также может передавать полученные данные третьим лицам в обезличенном виде для
          проведения исследований, выполнения работ или оказания услуг.
        p 
          Какие типы cookie-файлов мы используем?
          Технические cookie-файлы
          Использование этих функциональных cookie-файлов нельзя запретить при посещении нашего сайта,
          так как они обеспечивают корректную работу веб-сайта. Сюда относятся cookie-файлы, которые
          собирают информацию о том, разрешено или запрещено использование других cookie-файлов с нашего
          сайта.
        p 
          Аналитические файлы cookie
          Мы используем средства веб-аналитики с целью общего анализа использования Сайта и получения
          данных для формирования персональных предложений. Полученная при этом информация может
          передаваться в анонимной форме на сервер службы веб-аналитики, сохраняться и обрабатываться
          там. Мы можем использовать аналитические инструменты и соответствующие cookie-файлы
          следующих поставщиков услуг:
          br
          Google Analytics: #[a(href="http://www.google.com/intl/en/policies/privacy/" target="_blank") Политика конфиденциальности Google]
          br
          Яндекс.Метрика: #[a(href="https://yandex.ru/legal/confidential/" target="_blank") Политика конфиденциальности Яндекс]
        p 
          Как можно разрешить или запретить использование cookie-файлов?
        p 
          Большинство браузеров автоматически принимают cookie-файлы. Вы можете удалить сохраненные
          cookie-файлы в любое время с вашего устройства, воспользовавшись инструкцией по использованию
          браузера или устройства.
        p 
          В настройках браузера также можно запретить любые cookie-файлы или определенные типы (в
          зависимости от используемого браузера для запрета рекомендуем воспользоваться иструкцией).
          Обращаем внимание что, отключив cookie-файлы, вы не сможете пользоваться некоторыми
          функциями, сервисами, инструментами и возможностями нашего Сайта.

block footer