extends ../layouts/layout

block content
  +page-wrapper('docs__page')    
    .docs__header
      .container
        a.back-link(href=_yii.app.urlHelper.to({0: '@orderItem', 'customer': customer_id, 'order': order_id}))
          +icon('back')
        h1.page-title Документы
    .container
      +warning()
      ul.docs__list
        unless document_list
          docs__list-item Нет доступных документов
        else
          each document in document_list
            li
              a.docs__list-item(href=document.name target='_blank') #{document.alias}

block footer
